page-article {

.container {
    position: relative;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color:white;
    font-size : 18px;
    text-align: center;
}

.Detail-grid {
    background-color: #b99494;
    font-family: Verdana;
}

.share-grid {
    background-color: #d3a1a1;
    font-family: Verdana;
}

.text-grid{
    background-color: #d2bfbf;
    font-size: 15px;
    font-family: Verdana;
    margin:auto;
    text-align: left;
    height:250px;
}


color: #e13838;

}
