<ion-header>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <ion-navbar color="newsTheme">
    <ion-title>{{articleTitle}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only block (click)="appLogout()">
        <img src="https://png.icons8.com/color/40/000000/user-male-circle.png" style="width:32px">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid style="padding:0;">
    <ion-row class="container">
      <img src={{articleImage}} width="100%" height="250">
    </ion-row>
    <ion-row>
      <!--Article Details Grid-->
      <ion-grid class="Detail-grid">
        <ion-row>
          <ion-col col-4 text-center>Author</ion-col>
          <ion-col col-4>Published Date</ion-col>
          <ion-col col-4 text-center>Source Link</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 text-center>
            <b>{{articleAuthor}}</b>
          </ion-col>
          <ion-col col-4>
            <b>{{articlePublishedAt | date}}</b>
          </ion-col>
          <ion-col col-4 text-center>
            <button ion-button icon-only color="light" (click)="openLinkInAppBrowser()" clear>
              <ion-icon style="zoom:1.3;color:#d62537" name="paper-plane" icon-left></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
  <!-- Star marked and Sharing Icons -->
  <ion-grid class="share-grid">
    <ion-row>
      <ion-col>
        <ion-buttons end>
          <button ion-button icon-only *ngIf="isFavorite" (click)="selectUnfavoriteArticle()"  color="newsTheme" clear>
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button icon-only  *ngIf="!isFavorite" (click)="selectFavoriteArticle()" color="newsTheme" clear>
            <ion-icon name="star-outline"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <button ion-button icon-only (click)="regularShare()" color="newsTheme" clear>
          <ion-icon name="share"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-only (click)="whatsappShare()" color="newsTheme" clear>
          <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-only (click)="facebookShare()" color="newsTheme" clear>
          <ion-icon class="share-icon" name="logo-facebook"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-only (click)="twitterShare()" color="newsTheme" clear>
          <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--Article and Details Grid-->
  <ion-grid class="text-grid">
    <ion-row>
      <b>{{articleTitle}}</b>
    </ion-row>
    <br>
    <ion-row>{{articleDescription}}</ion-row>
  </ion-grid>
</ion-content>
