<ion-header>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <ion-navbar color="danger">
    <ion-row>
      <ion-col col-2 text-left>
        <img src="https://png.icons8.com/color/40/000000/likes-folder.png" style="width:30px">
      </ion-col>
      <ion-col col-8 text-center>
        <ion-title>My Favorites</ion-title>
      </ion-col>
      <ion-col col-2 text-right (click)="appLogout()">
        <img src="https://png.icons8.com/color/40/000000/user-male-circle.png" style="width:32px">
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf='favArticleCount > 0 ;'>
    <div *ngFor='let favArticle of articleDetails; let idx = index;'>
      <div class="news-card-home">
        <div (click)="pushArticlePage({index : idx, newarticleset : articleDetails})">
          <div class="container">
            <img class="shadowImage" src={{favArticle.urlToImage}} width="100%" height="180">
            <div class="bottom-left">{{favArticle.title}}</div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top:20px;margin-bottom: 20px;text-align: center;">
      That's all your
      <b>Favorites</b> so far, folks! All stored on your local storage.
      <ion-icon name="hand"></ion-icon>
    </div>
  </div>
  <div *ngIf='favArticleCount == 0 ;' style="margin-top:20px;margin-bottom: 20px;text-align: center;">
    You've no Favorites selected so far. Please hit
    <b> stars</b> <ion-icon name="star-half"></ion-icon> whenever you read the articles!

  </div>
</ion-content>
