<ion-header>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <ion-navbar color="newsTheme">
    <ion-title style="text-transform: capitalize">{{paperName}} News</ion-title>
    <ion-buttons end>
      <button ion-button icon-only block (click)="appLogout()">
        <img src="https://png.icons8.com/color/40/000000/user-male-circle.png" style="width:32px">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="card-title">
    <ion-col text-center>Click on the eye-catching articles!</ion-col>
  </ion-row>

  <div *ngFor='let article of articleSet; let idx = index;'>
    <div class="news-card-home">
      <div (click)="pushArticlePage({index : idx, newarticleset : articleSet})">
        <div class="container">
          <div *ngIf="article.urlToImage">
            <img class="shadowImage" src={{article.urlToImage}} width="100%" height="180">
          </div>
          <div *ngIf="!article.urlToImage">
            <img class="shadowImage" src={{baseImage}} width="100%" height="180">
          </div>
          <div class="bottom-left">{{article.title}}</div>
        </div>
      </div>
      <!-- <div class="favCircle" (click)="saveArticle()">
        <div class="starFavorite">
          <ion-icon name="star-outline"></ion-icon>
        </div>
      </div>
      <div class="shareCircle" (click)="regularShare(i)">
        <div class="shareButton">
          <ion-icon class="share-icon" name="share"></ion-icon>
        </div>
      </div> -->
    </div>
  </div>
  <div style="margin-top:20px;margin-bottom: 20px;text-align: center; text-transform: capitalize;"F>
    That's all folks from
    <b>{{paperName}} </b>Section!
    <ion-icon name="hand"></ion-icon>
  </div>
</ion-content>
