page-about_us {

  .card-background-about {

    .aboutUsStrip{
        //background-color: #4BACFF;
        font-weight:bold; 
        text-align: center;
        margin:auto;
        font-size: 1em;
    }
  }

}
