page-about_us {

  .card-background-about {

    .aboutUsStrip{
        font-weight:bold; 
        text-align: center;
        margin:auto;
        font-size: 1em;
        padding-top:15px;
    }
  }

}
