doughnutChart {

    .doughnutStyle {

        .styleDoughnut {

            color: red;
            font-weight:bold;
            font-family: Garamond;
            font-size: 25px;

        }

    }
    
}