page-home {

.card-background-page {

    //background-image: url("../assets/image/backgound_2.png");

  .ion-card-home {
    width: 100%;
    background-color: #2DADBC;
    height: 125px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    margin:auto;
    //background-image: url("../assets/image/IPDR.jpg");
    //background-image: url("../assets/image/Notif_1.png");
  }

  .dashboardStrip {
    font-size: 1.2em;
    font-weight:bold; 
    text-align: center;
    margin:auto;
    //font-family: Verdana;
  }

  .overallStatusStrip {
    font-size: 1.1em;
    //font-weight:bold; 
    text-align: center;
    margin:auto;
    padding-bottom:8px;
  } 

  .ion-card-home-Notif {
    width: 100%;
    height: 118px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    margin:auto;
    //background-color: #6E60F6;
    background: linear-gradient(-45deg, #5656D3,#927CE6,#5656D3);
  }

  .ion-card-home-User {
    width: 100%;
    background: -webkit-linear-gradient(top, rgba(102,255,255,0), rgba(102,255,255,0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(102,255,255,0), rgba(102,255,255,0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(102,255,255,0), rgba(102,255,255,0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(102,255,255,0), rgba(102,255,255,0.8)); /* Standard syntax (must be last) */
    color: 'black';
    height: 125px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    margin:auto;
  }

  .card-title {
    font-size: 17px;
    font-weight: bold;
    font-family: Verdana;
    color: #FFF;
    margin:auto;
    text-align: center;
  }

  .card-subtitle {
    font-size: 1.0em;
    color: #FFF;
    font-family: Arial!important;
    margin:auto;
    text-align: center;
  }

 .left-page-button {
    background-color: #FFF;
    margin-top: 17px;
    border-radius: 25px;
    color: #3F3D5B;
    //font-family: Garamond;
    font-size: 15px;
    border: 0px solid #291BEE;
    float: left;
    font-weight: bold;
 }

  .right-page-button {
    background-color: #FFF;
    margin-top: 17px;
    border-radius: 25px;
    color: #3F3D5B;
    //font-family: Garamond;
    font-size: 15px;
    border: 0px solid #291BEE;
    float: right;
    font-weight: bold;
 }

  .left-page-button:active {
    transform: translateY(1.2px);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

  .right-page-button:active {
    transform: translateY(1.2px);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

  .status-led {
    z-index: -1;
    float: right;
    width: 20px;
    height: 20px;
    margin-top:-10px;
    margin-right:-6px;
    background-color: #C9C9C9;
    border-radius: 50%;   
  }

  .led-red {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    float: right;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
    -webkit-animation: blinkRed 0.5s infinite;
    -moz-animation: blinkRed 0.5s infinite;
    -ms-animation: blinkRed 0.5s infinite;
    -o-animation: blinkRed 0.5s infinite;
    animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}

.led-yellow {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  float: right;
  background-color: #F9F618;
  border-radius: 50%;
  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
}

.led-green {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  float: right;
  background-color: #17D044;
  border-radius: 50%;
  -webkit-animation: blinkGreen 1.5s infinite;
  -moz-animation: blinkGreen 1.5s infinite;
  -ms-animation: blinkGreen 1.5s infinite;
  -o-animation: blinkGreen 1.5s infinite;
  animation: blinkGreen 1.5s infinite;
}

.bodyMedia{
 background-color: pink;
}
@media screen and (min-width: 350px) {
      .bodyMedia{
        background-color: lightgreen;
      }

}

}
}

.info-background-page {

.label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 90%;
    height: 79%;
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-align:justify; 
    white-space:normal;
    font-size:default; 
    padding-bottom: 5px;

}

.card {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20; 
    text-align:justify; 
    white-space:normal; 
    font-size:default; 
    line-height: 5.0;


   }

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #008080;
        color: #FFF;
        text-align: left;
        line-height: 15px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
        word-wrap: break-word;
        font-size:18px;
        line-height: 1.0;

    }

    .card .back {

        position: absolute;
        height: 100%;
        width: 100%;
        text-align: left;
        line-height: 25px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        word-wrap: break-word;
        background: #4ca6a6  ;
        color: #FFF;
        border-radius: 2px;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        line-height: 1.2;
    }

input {
    display: none;
}

:checked + .card {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

body {
  background: #4ca6a6;
}
.buttonRed {
  background-color: #e60000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 15px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}
.buttonYellow {
  background-color: #e6e600;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 15px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}
.buttonGreen {
  background-color: #00FF00;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 15px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}

}  
