page-home {

 .card-title {
    font-size: 15px;
    font-family: 'Verdana';
  }

.select-text {
    margin-left:-10px;
}

.swiper-slide img {
    width: 100%;
    height: 230px;
  }

.button-outline-md {
    border-color: #d62537;
    color: #d62537;
}

img {
    border-radius: 5%;
    width : 100%;
}

ion-slides {
    display: block;
    width: 100%;
    //height: 435px;
    padding: 6px;
}

.Detail-grid {
    font-family: Verdana;
    font-size : 14px;
}

.news-title {
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana;
    margin:auto;
    text-align: center;
  }

//  .shareButton {
//     position: absolute;
//     z-index: 1;
//     zoom: 1.3;
//     margin-left: -11px;
// }

// .shareCircle {
//     position: absolute;
//     width: 40px;
//     height: 40px;
//     color: #e13838;
//     background-color: #f4f4f4;
//     border-radius: 50%;
//     box-shadow: 0 8px 16px 0 rgba(129, 8, 8, 0.64), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
// }



  .text-grid{
    background-color: #b99494;
    font-size: 15px;
    font-family: Verdana;
    margin:auto;
    text-align: left;
    height:240px;
}

}
