<ion-header>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <ion-navbar color="danger">
    <ion-row>
      <ion-col col-2 text-left>
        <img src="https://png.icons8.com/color/40/000000/globe.png" style="width:30px">
      </ion-col>
      <ion-col col-8 text-center>
        <ion-title>World Top News</ion-title>
      </ion-col>
      <ion-col col-2 text-right (click)="appLogout()">
        <img src="https://png.icons8.com/color/40/000000/user-male-circle.png" style="width:32px">
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Pull to referesh -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>

    <!-- Dropdown language Row-->
    <!-- <ion-row>
      <ion-col text-right>
        <ion-label>Select Language</ion-label>
      </ion-col>
      <ion-col>
        <ion-select okText="Choose" cancelText="Dismiss" [(ngModel)]="selectedLanguage" (ionChange)="chooseLanguage()">
          <ion-option value="English" selected="true">English</ion-option>
          <ion-option value="Hindi">Hindi</ion-option>
        </ion-select>
      </ion-col>
    </ion-row> -->

    <!-- Title Row-->
    <ion-row class="card-title">
      <ion-col text-center>
        Get glimpse of Top bulletins of now!
      </ion-col>
    </ion-row>

    <!-- Select Country -->
    <ion-row>
      <ion-col col-6 text-right>
        <ion-label>Select Country</ion-label>
      </ion-col>
      <ion-col col-6>
        <ion-select [(ngModel)]="selectedCountry" (ionChange)="chooseCountries()" okText="Choose" cancelText="Dismiss">
          <ion-option value="in" selected="true">India</ion-option>
          <ion-option value="us">United States</ion-option>
          <ion-option value="au">Australia</ion-option>
          <ion-option value="br">Brazil</ion-option>
          <ion-option value="ca">Canada</ion-option>
          <ion-option value="cn">China</ion-option>
          <ion-option value="fr">France</ion-option>
          <ion-option value="de">Germany</ion-option>
          <ion-option value="jp">Japan</ion-option>
          <ion-option value="ru">Russia</ion-option>
          <ion-option value="za">South Africa</ion-option>
          <ion-option value="gb">United Kingdom</ion-option>
          <ion-option value="ae">United Arab Emirates</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <!-- English SlideShow Row-->
    <div *ngIf="selectedLanguage=='English'">
      <ion-row>
        <ion-slides *ngIf="newsArticles && newsArticles.length" pager="false" autoplay="3500" loop="true" speed="100">
          <ion-slide *ngFor="let bulletin of newsArticles; let idx = index;" style="margin-bottom:150px;">
            <div class="shareCircle">
              <div class="shareButton">
                <button ion-button icon-only (click)="regularShare(idx)" clear>
                  <ion-icon color="newsTheme" name="share"></ion-icon>
                </button>
              </div>
            </div>
            <div style="border-radius:18px;background-color: #b99494;">
              <ion-row>
                <div *ngIf="bulletin.urlToImage">
                  <img src={{bulletin.urlToImage}}>
                </div>
                <div *ngIf="!bulletin.urlToImage">
                  <img src={{baseImage}}>
                </div>
              </ion-row>
              <ion-row>
                <ion-col style="font-size:15px;" col-4 text-center>
                  {{bulletin.source.name | myFilterPipe}}
                </ion-col>
                <ion-col style="font-size:15px;" col-4 text-center>
                  {{bulletin.publishedAt | date}}
                </ion-col>
                <ion-col col-4 text-center>
                  <button ion-button icon-only color="newsTheme" (click)="openLinkInAppBrowser(idx)" clear>
                    <ion-icon style="zoom:1.5;" name="paper-plane" icon-left></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
              <ion-row style="font-size:15px;background-color:#d2bfbf;" text-center>
                <div>
                  <b>{{bulletin.title}}</b>
                </div>
              </ion-row>
              <ion-row style="font-size:13px;background-color:#d2bfbf;height:93px;" text-center>
                <div>{{bulletin.description}}</div>
              </ion-row>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-row>
    </div>

    <!-- Hindi SlideShow Row-->
    <!-- <div *ngIf="selectedLanguage=='Hindi'">
      <ion-row>
        <ion-slides *ngIf="newsArticles && newsArticles.length" pager="true" autoplay="3000" loop="true" speed="100">
          <ion-slide *ngFor="let bulletin of newsArticles; let idx = index; let imge of hindImageArr;" style="margin-bottom:150px;">
            <div class="shareCircle">
              <div class="shareButton">
                <button ion-button icon-only (click)="regularShare(idx)" clear>
                  <ion-icon color="newsTheme" name="share"></ion-icon>
                </button>
              </div>
            </div>
            <div style="border-radius:18px;background-color: #b99494;">
              <ion-row>
                <img src={{imge.image}}>
              </ion-row>
              <ion-row style="font-size:15px;">
                <ion-col text-center>{{bulletin.title}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="font-size:15px;" col-4 text-center>
                  <b>{{bulletin.author}}</b>
                </ion-col>
                <ion-col style="font-size:15px;" col-4 text-center>
                  <b>{{bulletin.published | date}}</b>
                </ion-col>
                <ion-col col-4 text-center>
                  <button ion-button icon-only color="newsTheme" (click)="openLinkInAppBrowser(idx)" clear>
                    <ion-icon style="zoom:1.3;color:#d62537" name="paper-plane" icon-left></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-row>
    </div> -->

    <!--Redirect Button Row-->
    <!-- <ion-row>
      <ion-col text-center>
        <button (click)="skipGoToHome()" ion-button outline> Full Coverage &nbsp;
          <ion-icon style="zoom:2;" name="images"></ion-icon>
        </button>
      </ion-col>
    </ion-row> -->

    <!--Footer Image Row-->
    <ion-row>
      <ion-col text-center>
        <button ion-button outline>
          < Swipe left & right >
        </button>
      </ion-col>

      <!-- <img src="{{footerImage}}"> -->
    </ion-row>

  </ion-grid>
</ion-content>
