page-choose-news-paper {

 .news-card-home {
    width: 40%;
    height: auto;
    margin: 15px;
    position:relative;
    display: block;
    float: left;
    //background-image: url("../assets/image/basenews.png");
    //box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .card-title {
    font-size: 11px;
    font-weight: bold;
    font-family: Verdana;
    margin:auto;
    color : brown;
    text-align: center;
  }

  .circle {
  height: 25px;
  width: 25px;
  background-color: grey;
  border-radius: 50%;
}

}
