<ion-header>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <ion-navbar color="tertiary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>OpV Ecosystem</ion-title>
    <ion-buttons end>
      <button ion-button icon-only block (click)="appLogout()">
    <ion-icon name="contact"></ion-icon>
  </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="card-ecosystem-page" style="background: linear-gradient(-45deg,	#F0FFF0,	#FFFFFF)">
  <h4 class="h1-style">Opv Ecosystem</h4>
  <!--<div *ngFor="let kpi of kpis['items']">-->
  
  <div style="padding-block-end:2px;font-size:16px;">
    Ecosystem depicts overall picture about of Comcast internal systems and their functioning.
  </div>

  <ion-grid class="page-grid">
    <ion-row style="padding-top: 25px">
      <ion-col col-2 class="element-block">
        <ion-icon style="zoom:3.0" name="people"></ion-icon>
      </ion-col>
      <ion-col col-2>
        <div class="connect-arrow">
          &#8594;
        </div>
      </ion-col>
      <!--<div> {{kpis.name}}</div>-->
      <!-- IPDR Block -->
      <ion-col col-6 class="element-block">
        <div>

          <button onclick="document.getElementById('IPDR').style.display='block'" class="w3-button w3-black" style="background: linear-gradient(-45deg, #0066ff,#4d94ff,#3385ff);">
              IPDR
            </button>
          <div id="IPDR" class="w3-modal">
            <div class="w3-modal-content" style=" background-color:#004d4d;">
              <div class="w3-container card-title-heading"> IPDR
                <span onclick="document.getElementById('IPDR').style.display='none'" class="w3-display-topright">&times;</span>
                <ion-grid>
                  <ion-row>
                    <ion-col col-3>
                      <ion-card class="card-title-IPDR">
                        <div class="title-text" style="padding-top: 0px">Cable Modem</div>
                      </ion-card>
                    </ion-col>
                    <ion-col col-1>
                      <div class="connect-arrow-system">&#8594;</div>
                    </ion-col>
                    <ion-col col-3>
                      <ion-card class="card-title-IPDR">
                        <div class="title-text">CMTS</div>
                      </ion-card>

                      <div style="right:45%; top:-5%; position: absolute">
                        <div *ngIf="this.resultKPI['NETW_015']=='green'">
                          <div class="led-green-echosystem">i1</div>
                        </div>
                        <div *ngIf="this.resultKPI['NETW_015']=='yellow'">
                          <div class="led-yellow-echosystem">i1</div>
                        </div>
                        <div *ngIf="this.resultKPI['NETW_015']=='red'">
                          <div class="led-red-echosystem">i1</div>
                        </div>
                        <div *ngIf="!(this.resultKPI['NETW_015']=='yellow' || this.resultKPI['NETW_015']=='green' || this.resultKPI['NETW_015']=='red')">
                          <div class="led-white-echosystem">i1</div>
                        </div>
                      </div>
                    </ion-col>
                    <ion-col col-1>


                      <div style="right:85%; top:-5%; position: absolute">
                        <div *ngIf="this.resultKPI['NETW_018']=='green'">
                          <div class="led-green-echosystem">i2</div>
                        </div>
                        <div *ngIf="this.resultKPI['NETW_018']=='yellow'">
                          <div class="led-yellow-echosystem">i2</div>
                        </div>
                        <div *ngIf="this.resultKPI['NETW_018']=='red'">
                          <div class="led-red-echosystem">i2</div>
                        </div>
                        <div *ngIf="!(this.resultKPI['NETW_018']=='yellow' || this.resultKPI['NETW_018']=='green' || this.resultKPI['NETW_018']=='red')">
                          <div class="led-white-echosystem">i2</div>
                        </div>
                      </div>

                      <div class="connect-arrow-system">&#8594;</div>.

                      <div style="right:85%; top:55%; position: absolute">
                        <div *ngIf="this.resultKPI['NETW_013']=='green'">
                          <div class="led-green-echosystem">i3</div>
                        </div>
                        <div *ngIf="this.resultKPI['NETW_013']=='yellow'">
                          <div class="led-yellow-echosystem">i3</div>
                        </div>
                        <div *ngIf="this.resultKPI['NETW_013']=='red'">
                          <div class="led-red-echosystem">i3</div>
                        </div>
                        <div *ngIf="!(this.resultKPI['NETW_013']=='yellow' || this.resultKPI['NETW_013']=='green' || this.resultKPI['NETW_013']=='red')">
                          <div class="led-white-echosystem">i3</div>
                        </div>
                      </div>

                    </ion-col>

                    <div style="right:16%; top:15%; Z-INDEX: 1; position: absolute">
                      <div *ngIf="this.resultKPI['NETW_014']=='green'">
                        <div class="led-green-echosystem">i4</div>
                      </div>
                      <div *ngIf="this.resultKPI['NETW_014']=='yellow'">
                        <div class="led-yellow-echosystem">i4</div>
                      </div>
                      <div *ngIf="this.resultKPI['NETW_014']=='red'">
                        <div class="led-red-echosystem">i4</div>
                      </div>
                      <div *ngIf="!(this.resultKPI['NETW_014']=='yellow' || this.resultKPI['NETW_014']=='green' || this.resultKPI['NETW_014']=='red')">
                        <div class="led-white-echosystem">i4</div>
                      </div>
                    </div>

                    <ion-col col-4>
                      <ion-card class="card-title-IPDR">
                        <div class="title-text">Pump</div>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                  <ion-row style="padding-top: 11px;">
                    <ion-col col-5>
                      <ion-card class="card-title-IPDR">

                        <div style="right:42%; top:-7%; Z-INDEX: 1; position: absolute">
                          <div *ngIf="this.resultKPI['NETW_016']=='green'">
                            <div class="led-green-echosystem">i6</div>
                          </div>
                          <div *ngIf="this.resultKPI['NETW_016']=='yellow'">
                            <div class="led-yellow-echosystem">i6</div>
                          </div>
                          <div *ngIf="this.resultKPI['NETW_016']=='red'">
                            <div class="led-red-echosystem">i6</div>
                          </div>
                          <div *ngIf="!(this.resultKPI['NETW_016']=='yellow' || this.resultKPI['NETW_016']=='green' || this.resultKPI['NETW_016']=='red')">
                            <div class="led-white-echosystem">i6</div>
                          </div>
                        </div>

                        <div style="right:75%; top:-7%; Z-INDEX: 1; position: absolute">
                          <div *ngIf="this.resultKPI['NETW_012']=='green'">
                            <div class="led-green-echosystem">i7</div>
                          </div>
                          <div *ngIf="this.resultKPI['NETW_012']=='yellow'">
                            <div class="led-yellow-echosystem">i7</div>
                          </div>
                          <div *ngIf="this.resultKPI['NETW_012']=='red'">
                            <div class="led-red-echosystem">i7</div>
                          </div>
                          <div *ngIf="!(this.resultKPI['NETW_012']=='yellow' || this.resultKPI['NETW_012']=='green' || this.resultKPI['NETW_012']=='red')">
                            <div class="led-white-echosystem">i7</div>
                          </div>
                        </div>

                        <div class="title-text"> ETL</div>
                      </ion-card>
                    </ion-col>
                    <ion-col col-1>
                      <div style="right:50%; top:-5%; Z-INDEX: 1; position: absolute">
                        <div *ngIf="this.resultKPI['NETW_019']=='green'">
                          <div class="led-green-echosystem">i5</div>
                        </div>
                        <div *ngIf="this.resultKPI['NETW_019']=='yellow'">
                          <div class="led-yellow-echosystem">i5</div>
                        </div>
                        <div *ngIf="this.resultKPI['NETW_019']=='red'">
                          <div class="led-red-echosystem">i5</div>
                        </div>
                        <div *ngIf="!(this.resultKPI['NETW_019']=='yellow' || this.resultKPI['NETW_019']=='green' || this.resultKPI['NETW_019']=='red')">
                          <div class="led-white-echosystem">i5</div>
                        </div>
                      </div>
                      <div class="connect-arrow-system">&#8592;</div>
                    </ion-col>
                    <ion-col col-5>
                      <ion-card class="card-title-IPDR">
                        <div class="title-text">Refinery</div>
                      </ion-card>
                    </ion-col>
                    <ion-col col-1>
                      <div class="connect-arrow-system" style="left:-150%;;top: -30%">&#8626;</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col col-2>
        <div class="connect-arrow" style="right:60%; top:20%;">&#8628;</div>

        <div style="right:100%; top:70%; Z-INDEX: 1; position: absolute">
          <div *ngIf="this.resultKPI['NETW_020']=='green'">
            <div class="led-green-echosystem">i8</div>
          </div>
          <div *ngIf="this.resultKPI['NETW_020']=='yellow'">
            <div class="led-yellow-echosystem">i8</div>
          </div>
          <div *ngIf="this.resultKPI['NETW_020']=='red'">
            <div class="led-red-echosystem">i8</div>
          </div>
          <div *ngIf="!(this.resultKPI['NETW_020']=='yellow' || this.resultKPI['NETW_020']=='green' || this.resultKPI['NETW_020']=='red')">
            <div class="led-white-echosystem">i8</div>
          </div>
        </div>

        <div class="connect-arrow" style="right: 58%;top: 80%;">&#8595;</div>
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 25px">
      <!-- Notification Block -->
      <ion-col col-4>
        <div>
          <button onclick="document.getElementById('Notification').style.display='block'" class="w3-button w3-black grad-tiles" 
          style="background: linear-gradient(-45deg,#0066ff,#4d94ff,#3385ff);font-size:15px;">
              Notification
            </button>
          <div id="Notification" class="w3-modal">
            <div class="w3-modal-content" style=" background-color: cadetblue;">
              <div class="w3-container card-title-heading"> Notification
                <span onclick="document.getElementById('Notification').style.display='none'" class="w3-display-topright">&times;</span>
                <ion-grid>
                  <ion-row style="width:100%">
                    <ion-col col-5>
                      <ion-card class="card-title-Notification">
                        <div class="title-text">EEPD</div>
                      </ion-card>
                    </ion-col>
                    <ion-col col-2>
                      <div class="connect-arrow-system">&#8594;</div>
                    </ion-col>
                    <ion-col col-5>
                      <div style="right:33%; top:24%; Z-INDEX: 1; position: absolute">
                        <div *ngIf="this.resultKPI['VOICE_001']=='green'">
                          <div class="led-green-echosystem">N7</div>
                        </div>
                        <div *ngIf="this.resultKPI['VOICE_001']=='yellow'">
                          <div class="led-yellow-echosystem">N7</div>
                        </div>
                        <div *ngIf="this.resultKPI['VOICE_001']=='red'">
                          <div class="led-red-echosystem">N7</div>
                        </div>
                        <div *ngIf="!(this.resultKPI['VOICE_001']=='yellow' || this.resultKPI['VOICE_001']=='green' || this.resultKPI['VOICE_001']=='red')">
                          <div class="led-white-echosystem">N7</div>
                        </div>
                      </div>

                      <ion-card class="card-title-Notification">
                        <div class="title-text">Nuvoxx</div>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>
                      <ion-card class="card-title-Notification">
                        <div class="title-text">MMgr</div>
                      </ion-card>
                    </ion-col>
                    <ion-col col-2>

                      <div style="right:95%; top:35%; Z-INDEX: 1; position: absolute">
                        <div *ngIf="this.resultKPI['NOTIF_039']=='green'">
                          <div class="led-green-echosystem">N6</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_039']=='yellow'">
                          <div class="led-yellow-echosystem">N6</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_039']=='red'">
                          <div class="led-red-echosystem">N6</div>
                        </div>
                        <div *ngIf="!(this.resultKPI['NOTIF_039']=='yellow' || this.resultKPI['NOTIF_039']=='green' || this.resultKPI['NOTIF_039']=='red')">
                          <div class="led-white-echosystem">N6</div>
                        </div>
                      </div>

                      <div class="connect-arrow-system">&#8594;</div>
                    </ion-col>

                    <ion-col col-5>

                      <div style="right:33%; top:25%; Z-INDEX: 1; position: absolute">
                        <div *ngIf="this.resultKPI['SMS_001']=='green'">
                          <div class="led-green-echosystem">N8</div>
                        </div>
                        <div *ngIf="this.resultKPI['SMS_001']=='yellow'">
                          <div class="led-yellow-echosystem">N8</div>
                        </div>
                        <div *ngIf="this.resultKPI['SMS_001']=='red'">
                          <div class="led-red-echosystem">N8</div>
                        </div>
                        <div *ngIf="!(this.resultKPI['SMS_001']=='yellow' || this.resultKPI['SMS_001']=='green' || this.resultKPI['SMS_001']=='red')">
                          <div class="led-white-echosystem">N8</div>
                        </div>
                      </div>

                      <div style="right:33%; top:65%; Z-INDEX: 1; position: absolute">
                        <div *ngIf="this.resultKPI['NOTIF_038']=='green'">
                          <div class="led-green-echosystem">N9</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_038']=='yellow'">
                          <div class="led-yellow-echosystem">N9</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_038']=='red'">
                          <div class="led-red-echosystem">N9</div>
                        </div>
                        <div *ngIf="!(this.resultKPI['NOTIF_038']=='yellow' || this.resultKPI['NOTIF_038']=='green' || this.resultKPI['NOTIF_038']=='red')">
                          <div class="led-white-echosystem">N9</div>
                        </div>
                      </div>

                      <ion-card class="card-title-Notification">
                        <div class="title-text">EMS</div>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-4>

                      <div style="right:35%; top:0%; Z-INDEX: 1; position: absolute">
                        <div *ngIf="this.resultKPI['NOTIF_003']=='green'">
                          <div class="led-green-echosystem">N5</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_003']=='yellow'">
                          <div class="led-yellow-echosystem">N5</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_003']=='red'">
                          <div class="led-red-echosystem">N5</div>
                        </div>
                        <div *ngIf="!(this.resultKPI['NOTIF_003']=='yellow' || this.resultKPI['NOTIF_003']=='green' || this.resultKPI['NOTIF_003']=='red')">
                          <div class="led-white-echosystem">N5</div>
                        </div>
                      </div>

                      <div class="connect-arrow-system" style="right:-20%; top:-150%;">&#8595;</div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>
                      <ion-card class="card-title-Notification">
                        <div class="title-text" style="padding-top: 3px">PCMM (BOD)</div>
                      </ion-card>
                    </ion-col>
                    <ion-col col-2>
                      <div class="connect-arrow-system">&#8594;</div>
                    </ion-col>
                    <ion-col col-5>

                      <div style="right:33%; top:25%; Z-INDEX: 1; position: absolute">
                        <div *ngIf="this.resultKPI['BN_001']=='green'">
                          <div class="led-green-echosystem">N10</div>
                        </div>
                        <div *ngIf="this.resultKPI['BN_001']=='yellow'">
                          <div class="led-yellow-echosystem">N10</div>
                        </div>
                        <div *ngIf="this.resultKPI['BN_001']=='red'">
                          <div class="led-red-echosystem">N10</div>
                        </div>
                        <div *ngIf="!(this.resultKPI['BN_001']=='yellow' || this.resultKPI['BN_001']=='green' || this.resultKPI['BN_001']=='red')">
                          <div class="led-white-echosystem">N10</div>
                        </div>
                      </div>

                      <div style="right:33%; top:60%; Z-INDEX: 1; position: absolute">
                        <div *ngIf="this.resultKPI['NOTIF_031']=='green'">
                          <div class="led-green-echosystem">N11</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_031']=='yellow'">
                          <div class="led-yellow-echosystem">N11</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_031']=='red'">
                          <div class="led-red-echosystem">N11</div>
                        </div>
                        <div *ngIf="!(this.resultKPI['NOTIF_031']=='yellow' || this.resultKPI['NOTIF_031']=='green' || this.resultKPI['NOTIF_031']=='red')">
                          <div class="led-white-echosystem">N11</div>
                        </div>
                      </div>

                      <ion-card class="card-title-Notification">
                        <div class="title-text" style="padding-top: 3px">Browser Notif</div>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col col-2>
        <div style="right:60%; top:10%; Z-INDEX: 1; position: absolute">
          <div *ngIf="this.resultKPI['NOTIF_019']=='green'">
            <div class="led-green-echosystem">N1</div>
          </div>
          <div *ngIf="this.resultKPI['NOTIF_019']=='yellow'">
            <div class="led-yellow-echosystem">N1</div>
          </div>
          <div *ngIf="this.resultKPI['NOTIF_019']=='red'">
            <div class="led-red-echosystem">N1</div>
          </div>
          <div *ngIf="!(this.resultKPI['NOTIF_019']=='yellow' || this.resultKPI['NOTIF_019']=='green' || this.resultKPI['NOTIF_019']=='red')">
            <div class="led-white-echosystem">N1</div>
          </div>
        </div>

        <div class="connect-arrow" style="right: 10%;">&#8592;</div>

        <div style="right:60%; top:58%; Z-INDEX: 1; position: absolute">
          <div *ngIf="this.resultKPI['NOTIF_017']=='green'">
            <div class="led-green-echosystem">N2</div>
          </div>
          <div *ngIf="this.resultKPI['NOTIF_017']=='yellow'">
            <div class="led-yellow-echosystem">N2</div>
          </div>
          <div *ngIf="this.resultKPI['NOTIF_017']=='red'">
            <div class="led-red-echosystem">N2</div>
          </div>
          <div *ngIf="!(this.resultKPI['NOTIF_017']=='yellow' || this.resultKPI['NOTIF_017']=='green' || this.resultKPI['NOTIF_017']=='red')">
            <div class="led-white-echosystem">N2</div>
          </div>
        </div>
      </ion-col>

      <!-- Mediation Block -->
      <ion-col col-6>
        <div>
          <button onclick="document.getElementById('Mediation').style.display='block'" class="w3-button w3-black grad-tiles" style="background: linear-gradient(-45deg,#0066ff,#4d94ff,#3385ff);">
              Mediation
            </button>
          <div id="Mediation" class="w3-modal">
            <div class="w3-modal-content" style=" background-color: cadetblue;">
              <div class="w3-container card-title-heading"> Mediation
                <span onclick="document.getElementById('Mediation').style.display='none'" class="w3-display-topright">&times;</span>
                <ion-grid>
                  <ion-row style="width:100%">
                    <ion-col col-5>
                      <ion-card class="card-title-EMM">
                        <div class="title-text">LB</div>
                      </ion-card>

                      <div style="right:40%; top:10%; Z-INDEX: 1; position: absolute">
                        <div *ngIf="this.resultKPI['NOTIF_027']=='green'">
                          <div class="led-green-echosystem">M1</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_027']=='yellow'">
                          <div class="led-yellow-echosystem">M1</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_027']=='red'">
                          <div class="led-red-echosystem">M1</div>
                        </div>
                        <div *ngIf="!(this.resultKPI['NOTIF_027']=='yellow' || this.resultKPI['NOTIF_027']=='green' || this.resultKPI['NOTIF_027']=='red')">
                          <div class="led-white-echosystem">M1</div>
                        </div>
                      </div>
                    </ion-col>
                    <ion-col col-2>
                      <div class="connect-arrow-system">&#8594;</div>
                    </ion-col>
                    <ion-col col-5>
                      <ion-card class="card-title-EMM">
                        <div class="title-text">LB Rejects</div>
                      </ion-card>

                      <div style="right:40%; top:10%; Z-INDEX: 1; position: absolute">
                        <div *ngIf="this.resultKPI['NOTIF_029']=='green'">
                          <div class="led-green-echosystem">M2</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_029']=='yellow'">
                          <div class="led-yellow-echosystem">M2</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_029']=='red'">
                          <div class="led-red-echosystem">M2</div>
                        </div>
                        <div *ngIf="!(this.resultKPI['NOTIF_029']=='yellow' || this.resultKPI['NOTIF_029']=='green' || this.resultKPI['NOTIF_029']=='red')">
                          <div class="led-white-echosystem">M2</div>
                        </div>
                      </div>

                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>
                      <ion-card class="card-title-EMM">
                        <div class="title-text">Rating</div>
                      </ion-card>

                      <div style="right:40%; top:10%; Z-INDEX: 1; position: absolute">
                        <div *ngIf="this.resultKPI['NOTIF_021']=='green'">
                          <div class="led-green-echosystem">M3</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_021']=='yellow'">
                          <div class="led-yellow-echosystem">M3</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_021']=='red'">
                          <div class="led-red-echosystem">M3</div>
                        </div>
                        <div *ngIf="!(this.resultKPI['NOTIF_021']=='yellow' || this.resultKPI['NOTIF_021']=='green' || this.resultKPI['NOTIF_021']=='red')">
                          <div class="led-white-echosystem">M3</div>
                        </div>
                      </div>
                    </ion-col>
                    <ion-col col-2>
                      <div class="connect-arrow" style="right:39%; top:-5%;">
                        &#8594;</div>
                      <div class="connect-arrow" style="right:40%; top:35%;">
                        &#8628;</div>
                      <div class="connect-arrow" style="right: 36%;top: 85%; font-size: 30px;">
                        &#9474;</div>
                    </ion-col>
                    <ion-col col-5>
                      <ion-card class="card-title-EMM">
                        <div class="title-text" style="padding-top: 3px">Rating Rejects</div>
                      </ion-card>

                      <div style="right:40%; top:10%; Z-INDEX: 1; position: absolute">
                        <div *ngIf="this.resultKPI['NOTIF_030']=='green'">
                          <div class="led-green-echosystem">M4</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_030']=='yellow'">
                          <div class="led-yellow-echosystem">M4</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_030']=='red'">
                          <div class="led-red-echosystem">M4</div>
                        </div>
                        <div *ngIf="!(this.resultKPI['NOTIF_030']=='yellow' || this.resultKPI['NOTIF_030']=='green' || this.resultKPI['NOTIF_030']=='red')">
                          <div class="led-white-echosystem">M4</div>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col col-5>
                      <ion-card class="card-title-EMM">
                        <div class="title-text">Billing</div>
                      </ion-card>
                    </ion-col>
                    <ion-col col-2>
                      <div class="connect-arrow" style="right:59%; top:0%;">&#8592;</div>
                      <div class="connect-arrow" style="right:-17%; top:0%;">&#8594;</div>
                    </ion-col>
                    <ion-col col-5>
                      <ion-card class="card-title-EMM">
                        <div class="title-text" style="padding-top: 3px">Usage Service</div>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-5>
                      <ion-card class="card-title-EMM">
                        <div class="title-text" style="padding-top: 3px;">Threshold Service</div>
                      </ion-card>
                    </ion-col>
                    <ion-col col-2>
                      <div class="connect-arrow" style="right:36%; top:-58%; font-size: 30px">&#9474;</div>
                      <div class="connect-arrow" style="right:46%; top:-17%;">&#8626;</div>

                      <div style="right:80%; top:-79%; Z-INDEX: 1; position: absolute">
                        <div *ngIf="this.resultKPI['NOTIF_032']=='green'">
                          <div class="led-green-echosystem">M5</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_032']=='yellow'">
                          <div class="led-yellow-echosystem">M5</div>
                        </div>
                        <div *ngIf="this.resultKPI['NOTIF_032']=='red'">
                          <div class="led-red-echosystem">M5</div>
                        </div>
                        <div *ngIf="!(this.resultKPI['NOTIF_032']=='yellow' || this.resultKPI['NOTIF_032']=='green' || this.resultKPI['NOTIF_032']=='red')">
                          <div class="led-white-echosystem">M5</div>
                        </div>
                      </div>
                    </ion-col>
                    <ion-col col-5>
                      <ion-card class="card-title-EMM">
                        <div class="title-text" style="padding-top: 3px">Action Queue</div>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <div class="connect-arrow" style="left: 25%;top: -100%;">&#8595; </div>
      </ion-col>
      <ion-col col-3>
        <!-- <div class="led-green-echosystem" style="right:15%; top:55%;" >N2</div>
        <div class="led-green-echosystem" style="right:15%; top:55%;" >N2</div>-->
      </ion-col>
      <ion-col col-3>
        <div style="right:115%; top:50%; Z-INDEX: 1; position: absolute">
          <div *ngIf="this.resultKPI['BILLER_010']=='green'">
            <div class="led-green-echosystem">B1</div>
          </div>
          <div *ngIf="this.resultKPI['BILLER_010']=='yellow'">
            <div class="led-yellow-echosystem">B1</div>
          </div>
          <div *ngIf="this.resultKPI['BILLER_010']=='red'">
            <div class="led-red-echosystem">B1</div>
          </div>
          <div *ngIf="!(this.resultKPI['BILLER_010']=='yellow' || this.resultKPI['BILLER_010']=='green' || this.resultKPI['BILLER_010']=='red')">
            <div class="led-white-echosystem">B1</div>
          </div>
        </div>

        <div class="connect-arrow" style="right: 65%;top: -100%;">&#8595;</div>

        <div style="right:73%; top:50%; Z-INDEX: 1; position: absolute">
          <div *ngIf="this.resultKPI['BILLER_011']=='green'">
            <div class="led-green-echosystem">B2</div>
          </div>
          <div *ngIf="this.resultKPI['BILLER_011']=='yellow'">
            <div class="led-yellow-echosystem">B2</div>
          </div>
          <div *ngIf="this.resultKPI['BILLER_011']=='red'">
            <div class="led-red-echosystem">B2</div>
          </div>
          <div *ngIf="!(this.resultKPI['BILLER_011']=='yellow' || this.resultKPI['BILLER_011']=='green' || this.resultKPI['BILLER_011']=='red')">
            <div class="led-white-echosystem">B2</div>
          </div>
        </div>


      </ion-col>
      <ion-col col-3>

        <div style="right:90%; top:50%; Z-INDEX: 1; position: absolute">
          <div *ngIf="this.resultKPI['NOTIF_028']=='green'">
            <div class="led-green-echosystem">N3</div>
          </div>
          <div *ngIf="this.resultKPI['NOTIF_028']=='yellow'">
            <div class="led-yellow-echosystem">N3</div>
          </div>
          <div *ngIf="this.resultKPI['NOTIF_028']=='red'">
            <div class="led-red-echosystem">N3</div>
          </div>
          <div *ngIf="!(this.resultKPI['NOTIF_028']=='yellow' || this.resultKPI['NOTIF_028']=='green' || this.resultKPI['NOTIF_028']=='red')">
            <div class="led-white-echosystem">N3</div>
          </div>
        </div>

        <div class="connect-arrow" style="right: 40%;top: -100%;">&#8595;</div>

        <div style="right:48%; top:50%; Z-INDEX: 1; position: absolute">
          <div *ngIf="this.resultKPI['NOTIF_036']=='green'">
            <div class="led-green-echosystem">N4</div>
          </div>
          <div *ngIf="this.resultKPI['NOTIF_036']=='yellow'">
            <div class="led-yellow-echosystem">N4</div>
          </div>
          <div *ngIf="this.resultKPI['NOTIF_036']=='red'">
            <div class="led-red-echosystem">N4</div>
          </div>
          <div *ngIf="!(this.resultKPI['NOTIF_036']=='yellow' || this.resultKPI['NOTIF_036']=='green' || this.resultKPI['NOTIF_036']=='red')">
            <div class="led-white-echosystem">N4</div>
          </div>
        </div>
      </ion-col>

    </ion-row>
    <ion-row style="padding-top: 25px">
      <!-- User Image -->
      <ion-col col-2 class="element-block">
        <ion-icon style="zoom:3.0" name="person"></ion-icon>
      </ion-col>
      <ion-col col-1>
        <div class="connect-arrow" style="left: -35%;">
          &#8592;
        </div>
      </ion-col>

      <ion-col col-6>
        <!-- User Experience Block -->
        <div class="w3-button" style="width: 90%; margin-left: -8%;
      background: linear-gradient(-45deg, #0066ff,#4d94ff,#3385ff );height: 100%; ">
          <div>
            <button onclick="document.getElementById('User').style.display='block'" class="w3-button w3-black" style="background: linear-gradient(-45deg,#0066ff,#0066ff); 
          width: 40%; height: 60%; position: absolute; top: 19%; left: -3%; font-size: 13px;">
              User Exp.
            </button>
            <div id="User" class="w3-modal">
              <div class="w3-modal-content" style=" background-color: cadetblue;">
                <div class="w3-container card-title-heading">User Experience
                  <span onclick="document.getElementById('User').style.display='none'" class="w3-display-topright">&times;</span>
                  <ion-grid>
                    <ion-row style="width:100%">
                      <ion-col>
                        <ion-card class="card-title-User">
                          <div class="title-text">Usage Meter</div>
                        </ion-card>

                        <div style="right:85%; top:15%; Z-INDEX: 1; position: absolute">
                          <div *ngIf="this.resultKPI['USER_004']=='green'">
                            <div class="led-green-echosystem">U1</div>
                          </div>
                          <div *ngIf="this.resultKPI['USER_004']=='yellow'">
                            <div class="led-yellow-echosystem">U1</div>
                          </div>
                          <div *ngIf="this.resultKPI['USER_004']=='red'">
                            <div class="led-red-echosystem">U1</div>
                          </div>
                          <div *ngIf="!(this.resultKPI['USER_004']=='yellow' || this.resultKPI['USER_004']=='green' || this.resultKPI['USER_004']=='red')">
                            <div class="led-white-echosystem">U1</div>
                          </div>
                        </div>

                        <div style="right:25%; top:15%; Z-INDEX: 1; position: absolute">
                          <div *ngIf="this.resultKPI['USER_005']=='green'">
                            <div class="led-green-echosystem">U2</div>
                          </div>
                          <div *ngIf="this.resultKPI['USER_005']=='yellow'">
                            <div class="led-yellow-echosystem">U2</div>
                          </div>
                          <div *ngIf="this.resultKPI['USER_005']=='red'">
                            <div class="led-red-echosystem">U2</div>
                          </div>
                          <div *ngIf="!(this.resultKPI['USER_005']=='yellow' || this.resultKPI['USER_005']=='green' || this.resultKPI['USER_005']=='red')">
                            <div class="led-white-echosystem">U2</div>
                          </div>
                        </div>


                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-card class="card-title-User">
                          <div class="title-text">CSA Ticket</div>
                        </ion-card>

                        <div style="right:85%; top:10%; Z-INDEX: 1; position: absolute">
                          <div *ngIf="this.resultKPI['USER_006']=='green'">
                            <div class="led-green-echosystem">U3</div>
                          </div>
                          <div *ngIf="this.resultKPI['USER_006']=='yellow'">
                            <div class="led-yellow-echosystem">U3</div>
                          </div>
                          <div *ngIf="this.resultKPI['USER_006']=='red'">
                            <div class="led-red-echosystem">U3</div>
                          </div>
                          <div *ngIf="!(this.resultKPI['USER_006']=='yellow' || this.resultKPI['USER_006']=='green' || this.resultKPI['USER_006']=='red')">
                            <div class="led-white-echosystem">U3</div>
                          </div>
                        </div>

                        <div style="right:25%; top:10%; Z-INDEX: 1; position: absolute">
                          <div *ngIf="this.resultKPI['USER_003']=='green'">
                            <div class="led-green-echosystem">U4</div>
                          </div>
                          <div *ngIf="this.resultKPI['USER_003']=='yellow'">
                            <div class="led-yellow-echosystem">U4</div>
                          </div>
                          <div *ngIf="this.resultKPI['USER_003']=='red'">
                            <div class="led-red-echosystem">U4</div>
                          </div>
                          <div *ngIf="!(this.resultKPI['USER_003']=='yellow' || this.resultKPI['USER_003']=='green' || this.resultKPI['USER_003']=='red')">
                            <div class="led-white-echosystem">U4</div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
            </div>
          </div>
          <!-- Billing Block -->
          <div>
            <button onclick="document.getElementById('Billing').style.display='block'" class="w3-button w3-black" style="background: linear-gradient(-45deg,#0066ff,#0066ff); 
          font-size: 13px; width: 40%; height: 60%; position: absolute; top: 19%; left: 40%;">
              Billing
            </button>
            <div id="Billing" class="w3-modal">
              <div class="w3-modal-content" style=" background-color: cadetblue;">
                <div class="w3-container card-title-heading"> Billing
                  <span onclick="document.getElementById('Billing').style.display='none'" class="w3-display-topright">&times;</span>
                  <ion-grid>
                    <ion-row style="width:100%">
                      <ion-col>
                        <ion-card class="card-title-User">
                          <div class="title-text">CSG</div>
                        </ion-card>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-card class="card-title-User">
                          <div class="title-text">DDP</div>
                        </ion-card>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col col-1>
        <div class="connect-arrow" style="right: 0%; margin-right: 95%;">
          &#8592;
        </div>
      </ion-col>
      <!-- Reference Block -->
      <ion-col col-2>
        <div>
          <button onclick="document.getElementById('Reference').style.display='block'" class="w3-button w3-black grad-tiles" 
          style="background: linear-gradient(-45deg, #0066ff,#4d94ff,#3385ff);width:168%;margin-left: -70%;padding-left: 10px;;font-size:14px;">
              Reference Data
            </button>
          <div id="Reference" class="w3-modal">
            <div class="w3-modal-content" style=" background-color: cadetblue;">
              <div class="w3-container card-title-heading"> Reference Data
                <span onclick="document.getElementById('Reference').style.display='none'" class="w3-display-topright">&times;</span>
                <ion-grid>
                  <ion-row>
                    <ion-col col-2>
                    </ion-col>
                    <ion-col col-4>
                      <ion-card class="card-title-User">
                        <div class="title-text">ESD</div>
                      </ion-card>
                    </ion-col>
                    <ion-col col-4>
                      <ion-card class="card-title-User">
                        <div class="title-text">EEP</div>
                      </ion-card>
                    </ion-col>
                    <ion-col col-2>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-card class="card-title-User">
                        <div class="title-text" style="padding-top: 9px">Network Device</div>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>

      </ion-col>
      <ion-col col-3>

      </ion-col>
      <ion-col col-3>
        <div style="right:70%; top:50%; Z-INDEX: 1; position: absolute">
          <div *ngIf="this.resultKPI['ACCT_005']=='green'">
            <div class="led-green-echosystem">O5</div>
          </div>
          <div *ngIf="this.resultKPI['ACCT_005']=='yellow'">
            <div class="led-yellow-echosystem">O5</div>
          </div>
          <div *ngIf="this.resultKPI['ACCT_005']=='red'">
            <div class="led-red-echosystem">O5</div>
          </div>
          <div *ngIf="!(this.resultKPI['ACCT_005']=='yellow' || this.resultKPI['ACCT_005']=='green' || this.resultKPI['ACCT_005']=='red')">
            <div class="led-white-echosystem">O5</div>
          </div>
        </div>
        <div class="connect-arrow" style="right: 65%;top:-100%;">&#8595;</div>
      </ion-col>
      <ion-col col-3>
        <div class="connect-arrow" style="right: 40%;top:-100%;">&#8595;</div>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 7%">
      <ion-col col-4 class="element-block">
        <div>
          
        </div>
      </ion-col>
      <!-- OM Block -->
      <ion-col col-8 class="element-block">
        <div>
          <button onclick="document.getElementById('OM').style.display='block'" class="w3-button w3-black" style="background: linear-gradient(-45deg,#0066ff,#4d94ff,#3385ff);">
              Order Managemant
            </button>
          <div id="OM" class="w3-modal">
            <div class="w3-modal-content" style=" background-color: cadetblue;">
              <div class="w3-container card-title-heading"> Order Managemant
                <span onclick="document.getElementById('OM').style.display='none'" class="w3-display-topright">&times;</span>
                <ion-grid>
                  <ion-row>
                    <ion-col col-12>
                      <ion-card class="card-title-OM">
                        <div class="title-text">Channnel</div>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <div class="connect-arrow" style="left: 47%;top: -165%;">&#8595; </div>
                    </ion-col>
                  </ion-row>
                  <ion-row style="margin-top: 5%;">
                    <ion-col col-3>
                      <ion-card class="card-title-OM" style="margin-left: 0px;">
                        <div class="title-text" style=" padding-top: 5%;">Provisioning & Activation</div>
                      </ion-card>
                    </ion-col>
                    <ion-col col-1>
                      <div class="connect-arrow-system" style="left: 15%; bottom: 40%;">&#8592;</div>
                    </ion-col>
                    <ion-col col-3>
                      <ion-card class="card-title-OM">
                        <div class="title-text">OM</div>
                      </ion-card>
                    </ion-col>
                    <ion-col col-1>
                      <div class="connect-arrow" style="left: 45%;top: 6%;">&#8594; </div>
                    </ion-col>
                    <ion-col col-3>
                      <ion-card class="card-title-OM" style="margin-left: 20px;">
                        <div class="title-text">EPC</div>
                      </ion-card>
                      <ion-col col-1>
                      </ion-col>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--</div>-->
</ion-content>